$black: #090C13;
$primary-gray: #717F94;

$gray-light: #EBEDF1;
$gray: #CCCCD1;

$green: #00D98B;

$blue: #005BE9;
$blue-darker: #0049BA;
$blue-dark: #003484;

$red: #E14726;
$red-darker: #E13126;

$rgba-white-5: rgba(255, 255, 255, 0.5);
