$black: #090C13;
$primary-gray: #717F94;

$gray-light: #EBEDF1;
$gray-light2: #E4E4EA;
$gray: #CCCCD1;
$gray-darker: #A3A3A3;

$green: #00D98B;

$blue: #005BE9;
$blue-darker: #0049BA;
$blue-dark: #003484;

$red: #E14726;
$red-darker: #E13126;

$rgba-white-5: rgba(255, 255, 255, 0.5);
$rgba-white-0-7: rgba(255, 255, 255, 0.07);
$rgba-white-0-22: rgba(255, 255, 255, 0.22);
